<!-- PostMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CommentMapper">

	<delete id="deleteCommentsByPost" parameterType="Long">
        DELETE FROM comments WHERE post_id = #{postId}
    </delete>
    
    <!-- 특정 게시물에 대한 모든 댓글 조회 -->
    <select id="findCommentsByPost" resultType="com.example.demo.domain.comment.Comment">
        SELECT *
        FROM Comments
        WHERE post_id = #{postId}
    </select>
</mapper>