<!-- PostMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PostMapper">
    <select id="getPostById" parameterType="Long" resultType="com.example.demo.domain.post.Post">
        SELECT * FROM posts WHERE post_id = #{postId}
    </select>

    <select id="getAllPosts" resultType="com.example.demo.domain.post.Post">
        SELECT * FROM posts
    </select>

	<!-- useGeneratedKeys="true": MyBatis가 자동 생성된 키(여기서는 post_id)를 사용하도록 설정합니다. -->
	<!-- keyProperty="postId": 자동 생성된 키가 Post 객체의 postId 속성에 설정되도록 지정합니다. -->
    <insert id="createPost" parameterType="com.example.demo.domain.post.Post" useGeneratedKeys="true" keyProperty="postId">
	    INSERT INTO posts (user_id, title, content, status, view_count)
	    VALUES (#{userId}, #{title}, #{content}, #{status}, #{viewCount})
	</insert>

    <update id="updatePost" parameterType="com.example.demo.domain.post.Post">
        UPDATE posts SET title = #{title}, content = #{content} WHERE post_id = #{postId}
    </update>

    <delete id="deletePost" parameterType="Long">
        DELETE FROM posts WHERE post_id = #{postId}
    </delete>
    
    <!-- 공개된 모든 게시물 조회 -->
    <select id="findAllPublicPosts" resultType="com.example.demo.domain.post.Post">
        SELECT * 
        FROM Posts 
        WHERE status = 'public'
    </select>
    
    <!-- 가장 많이 조회된 상위 n개 게시물 조회 -->
    <select id="findTopPosts" resultType="com.example.demo.domain.post.Post">
	    SELECT p.*, COUNT(c.comment_id) AS comment_count
	    FROM Posts p
	    LEFT JOIN Comments c ON p.post_id = c.post_id
	    GROUP BY p.post_id
	    ORDER BY comment_count DESC
	    LIMIT #{n}
    </select>
    
    <!-- 특정 카테고리에 속하는 게시물과 카테고리 이름 조회 -->
    <select id="findPostsByCategory" resultType="com.example.demo.domain.post.Post">
        SELECT p.*, c.name AS category_name
        FROM Posts p
        INNER JOIN PostCategories pc ON p.post_id = pc.post_id
        INNER JOIN Categories c ON pc.category_id = c.category_id
        WHERE pc.category_id = #{categoryId}
    </select>
    
    <!-- 특정 사용자의 최근 게시물 조회 -->
    <select id="findRecentPostsByUser" resultType="com.example.demo.domain.post.Post">
        SELECT *
        FROM Posts
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
        LIMIT 3
    </select>
    
    <!-- 각 게시물별 댓글 수 조회 -->
    <select id="findPostCommentCounts" resultType="com.example.demo.dto.post.PostCommentCount">
        SELECT p.post_id, COUNT(c.comment_id) as commentCount
        FROM Posts p
        LEFT JOIN Comments c ON p.post_id = c.post_id
        GROUP BY p.post_id
    </select>
    
    
    <!-- 한 달 내 작성된 게시물 조회 -->
    <select id="findPostsFromLastMonth" resultType="com.example.demo.domain.post.Post">
        SELECT title, created_at
        FROM Posts
        WHERE created_at >= NOW() - INTERVAL '1 MONTH'
    </select>
    
    <!-- 다수의 게시물 조회 -->
    <select id="findPosts" resultType="com.example.demo.domain.post.Post">
        SELECT *
        FROM Posts
        <if test="sort != null and !sort.isEmpty()">
            ORDER BY
            <foreach item="s" collection="sort" separator=",">
                ${s} ${order[sort.indexOf(s)]}
            </foreach>
        </if>
        <if test="page != null">
            LIMIT #{page}
        </if>
        <if test="offset != null">
            OFFSET #{offset}
        </if>
    </select>
    
    <!-- 특정 게시물의 조회수 증가 -->
    <update id="incrementViewCount">
        UPDATE Posts
        SET view_count = view_count + 1
        WHERE post_id = #{postId}
    </update>

    <!-- 게시물의 상태에 따른 카테고리 변경 -->
    <update id="changeCategoryForDrafts">
        UPDATE PostCategories
        SET category_id = (SELECT category_id FROM Categories WHERE name = '임시 저장')
        WHERE post_id IN (SELECT post_id FROM Posts WHERE status = 'draft')
    </update>
    
     <!-- 사용자가 작성한 게시물의 카테고리 삭제 -->
    <delete id="deletePostCategoriesByUserId">
        DELETE FROM PostCategories WHERE post_id IN (SELECT post_id FROM Posts WHERE user_id = #{userId})
    </delete>

    <!-- 사용자가 작성한 게시물 삭제 -->
    <delete id="deletePostsByUserId">
        DELETE FROM Posts WHERE user_id = #{userId}
    </delete>
    
    <!-- 해당 상태의 게시물 삭제 -->
    <delete id="deletePostsByStatus">
        DELETE FROM Posts WHERE status = #{status}
    </delete>

    <!-- "postcategories" 테이블에서 게시물 참조 삭제 -->
    <delete id="deletePostCategoriesByStatus">
        DELETE FROM PostCategories WHERE post_id IN (SELECT post_id FROM Posts WHERE status = #{status})
    </delete>
    
    <!-- 다수의 게시물 삭제 -->
    <delete id="deleteMultiplePosts" parameterType="list">
        <if test="list != null and !list.isEmpty()">
            DELETE FROM Posts
            WHERE post_id IN
            <foreach item="postId" collection="list" open="(" separator="," close=")">
                #{postId}
            </foreach>
        </if>
    </delete>
    
    <!-- 조회수가 viewThreshold 미만인 게시물의 ID 조회 -->
    <select id="findPostIdsWithViewsLessThan" resultType="java.lang.Integer">
        SELECT post_id
        FROM Posts
        WHERE view_count <![CDATA[ < ]]>  #{viewThreshold}
    </select>

    <!-- 특정 날짜 이전에 작성된 게시물의 ID 조회 -->
    <select id="findPostIdsBeforeDate" parameterType="java.time.LocalDate" resultType="java.lang.Integer">
        SELECT post_id
        FROM Posts
        WHERE created_at  <![CDATA[ < ]]>  #{date}
    </select>
    
</mapper>